.ServicesHero{
    width: 100%;
    & .ServicesHero__img_container{
        width: 100%;
        height: 40vh;
        margin: 0;
        & .ServicesHero__img_hero{
            object-fit: cover;
            height: 100%;
            width: 100%
        }

        & .loadSpinner{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
   

    & .ServicesHero__description_container{
        /* border: red solid 1px; */

        display: grid;
        grid-template-rows: 10% repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        & h1{
            text-align: center;
            width: 100%;
        }
        & div{
            /* border:solid blue 1px; */
            width:100%;

            & p{
                text-align: justify;
                padding: 0 var(--spacing_large) 0 var(--spacing_large);
            }
        }
        & .ServicesHero_services{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: var(--spacing_medium);
            & a{
                text-decoration: none;
                color: var(--black-color);
                & .Services__category_items{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                & figure{
                    margin: 0;
                    width: 80px;

 
                }

                    & .Services__category_items_title{
                        justify-content: center;
                        align-items: center;
                        display: flex;
                    }
                }      
            }      
        }
    }
}


@media (min-width: 1024px) {
    .ServicesHero{
        width: 100%;
        & .ServicesHero__img_container{
            width: 100%;
            height: 70vh;
            margin: 0;
        }
       
        & .ServicesHero__description_container{
    
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
            flex-direction: column;

            & .ServicesHero_description{
                /* border:solid blue 1px; */
                width: 80%;
    
                & p{
                    text-align: center;
                }
            }
            & .ServicesHero_services{
                display: flex;
                justify-content: space-around;
                padding: 50px;
                transition: .8s;
                flex-wrap: wrap;
                align-items: center;
                & a:hover img{
                    transition: all .5s; 
                    box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
                    /* padding: calc(var(--spacing_large) * 2); */
                   
                    /* &:hover{
                    border-radius: 50%;
                    box-shadow: 2px 2px 2px rgba(0,0,0,.6);
                    } */
                    /* & .Services__category_items{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                    & figure{
                        margin: 0;
                        width: 80px;
    
     
                    }
    
                        & .Services__category_items_title{
                            justify-content: center;
                            align-items: center;
                            display: flex;
                        }
                    }       */
                }      
            }
        }
    }

}
