 
.displace_right{}

.displace_left{}
.toggleMenu{}


.toggleMenu-enter-active { /*cuando termina animacion de entrada */
  /* display: flex; */

}
.toggleMenu-enter-done { /*cuando termina animacion de entrada */
  display: flex;
  transform: translateX(0px);
  transition: all 1s;
}
.toggleMenu-exit { 
  display: flex;
  transform: translateX(600px);
  transition: all 1s;
}


/*1)Cuando aparece | state:true*/
.displace_left-enter-active { 
  animation-name: displace_left;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}


/*1)Cuando aparece | state:true*/
.displace_right-enter-active { 
  animation-name: displace_right;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
 /*2) despúes que aparece | state:true*/
.displace_right-enter-done{ 

}


  @keyframes displace_right{
    from{
      /* opacity: .4; */
      transform: translateX(200px);
    }

    to{
      /* opacity: .6; */
      transform: translateX(0px);
    }
  }

  @keyframes displace_left{
    from{
      /* opacity: .4; */
      transform: translateX(-200px);
    }

    to{
      /* opacity: .6; */
      transform: translateX(0px);
    }
  }