 
.displace_right{}

.displace_left{}
.toggleMenu{}


.toggleMenu-enter-active { /*cuando termina animacion de entrada */
  /* display: flex; */

}
.toggleMenu-enter-done { /*cuando termina animacion de entrada */
  display: flex;
  transform: translateX(0px);
  transition: all 1s;
}
.toggleMenu-exit { 
  display: flex;
  transform: translateX(600px);
  transition: all 1s;
}


