.Hero{
    /* border: solid black 1px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    position: relative;
    & .Hero__title{
        /* border: solid red 1px; */
        width: 100%;
        /* z-index: 1; */
        position: absolute;
        text-align:center;
        padding: var(--spacing_large);
        color : var(--white-color);
        & h1{
            padding-left: var(--spacing_medium);
            padding-right: var(--spacing_medium);
        }
        & h2{
            padding-left: var(--spacing_medium);
            padding-right: var(--spacing_medium);
        }
        & p{
            padding: var(--spacing_medium);
        }
        & .btn-primary{
            background: var(--red_btn);
            color: var(--white-color);
            border: 0;
            padding: var(--spacing_medium);
            width: 70%;
            font-weight: bold;
            box-shadow: 2px 2px 3px rgba(0,0,0,.6);
            cursor: pointer;
            outline: none;
            will-change: transform;
            &:active{
                transform: scale(.9);
            }
        }
    }
    & .Hero__slider{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color : black; 
        & .slider-item{  
            opacity: .6;            
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: all 1s;
                position: absolute;
                will-change: transform,opacity;
                /* transform: scale(2.5); */
                
            }         
        }

    }
    & .Hero__items_icon{
        /* border: solid 1px black; */
        justify-content: center;
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        & .Hero__circle_carrusel{
            /* background-color: var(--white-color); */
            border: solid 1px white; 
            width:15px;
            height: 15px;
            margin: var(--spacing_medium);
            border-radius: 50%;
            color: var(--white-color);
            transition: all 1s;
            cursor: pointer;
        }
    }
}

.active_iten_circle{
    background-color: var(--white-color);
    
}
.active_carrusel_img{
    opacity: 1;
}

/* TABLET */
@media (min-width: 600px) {
    .Hero{
        
        & .Hero__title{
            & p{
                font-size: 1.2em;
            }
            & .btn-primary{
                font-size: 1em;
                margin-top: calc(var(--spacing_large) * 2);  

            }
        }
    }

}


/* DESKTOP */
@media (min-width: 1024px) {
    .Hero{
        & .Hero__title{
            & h1{
                font-size: 1.8em;
            }
            & .btn-primary{
                width: 30%;

            }
        }
    }
}