.Methodology{
    text-align: center;
    & .Methodology__image{
        & figure{
            margin: 0;
            height: 300px;
            width: 100%;
            overflow: hidden;
            & img{
                width: 100%;
                height: 100%;
                transform: scale(1.5);
            }
        }
    }
    & .Methodology__level{
        padding: var(--spacing_medium);
        & .Methodology__items{
            transform: translateY(-15px);
            opacity: 0;
            display: grid;
            grid-template-columns: 100px 1fr;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &  .Methodology__items_title{
                & p{
                    font-size: 1.2em;
                    padding: var(--spacing_small: 5px);
                }
            }
            & .Methodology__items_circle{
                display: flex;
                margin: var(--spacing_large);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color :var(--red_btn);
                border-radius: 50%;
                width: 60px;
                height: 60px;
            } 
        }
    }

}

