.Services{
    padding: var(--spacing_large);
    & h1{
        color:var(--black-color);
        text-align: center;
    }
    & p{
        color: var(--gray-color);
        padding: var(--spacing_medium);
        text-align: center;
    }

    & .Services__category{
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding:  var(--spacing_medium);
        & a{ text-decoration:  none; }
        & .Services__category_items{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .4s;
            background-color: var(--white-color);
            & figure{
                margin:0;
                width: 70%;
                height: 70%;
                cursor: pointer;                
            }
        }
        & h3{
            color: var(--gray-color);
            text-align: center;
        }
    }
}


/* TABLET */
@media (min-width: 600px) {
    .Services{
        font-size: 1.2em;
        padding: var(--spacing_large);

        & .Services__category{
            & .Services__category_items{                            
                & figure{
                    width: 60%;
                }
            }
            
        }
    }

}

/* DESKTOP */
@media (min-width: 1024px) {
    .Services{
        justify-content: center;
        align-items: center;         
        display: flex;
        flex-direction: column;
     
      & .Services__description{
            width: 80%;
            margin: var(--spacing_large);
            ransform: translateY(-15px);
            opacity: 0;
      }
      & .Services__category{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
          & a{
            justify-content: center;
            align-items: center;
            display: flex;
            text-decoration: none;
            transition: all .4s;
            & .Services__category_items{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;                
                width: 100%;
                background-color: var(--white-color);
                cursor: pointer; 
                width: 200px;
                margin: 25px;
                &:hover figure img{
                transition: all .5s; 
                box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
                }
                & figure{
                    margin:0;
                    width: 200px;
                    height: 200px;
                    cursor: pointer;                          
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}