@import './utils.css';
@import './components/hero.css';
@import './components/services.css';
@import './components/about.css';
@import './components/methodology.css';
@import './components/projects.css';
@import './components/contact.css';
@import './components/footer.css';
@import './components/services/HeroServices.css';
@import './components/notFound.css';
@import './components/animaciones.css';

body{
    background: var(--white-color);
    font-size: 1em;
    font-family: var(--dosis-font);
    margin: 0;

    & .preLoad{
        opacity: 0;
        transform:translateY(-15px);
    }
    
    & .loadElement{
        transition: .8s;
        opacity: 1;
        transform:translateY(0px);
    } 
    & .loadApp{
        width: 100%;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

section{
    margin-bottom: var(--spacing_large);
}

@media (min-width: 900px) {
    body{
        font-size: 1.5em;
    }
  }

/* @media (max-width: 600px)   and (orientation: landscape){ */
    
    /* .Hero{
        padding: calc(var(--spacing_large) * 2);
    } */
  /* } */
  @media (max-width: 1000px)   and  (orientation: landscape){
    body{
        font-size: 1em;
    }
    .Hero{
        padding: calc(var(--spacing_large) * 2);
    }
    header nav .Navbar__marca figure{
                   width: 80px;
                   height: 80px;
                   margin: 0;
                   cursor: pointer;
    }
    .Services .Services__category .Services__category_items figure{
        width: 30%;
    }
           
       
   
  }

@media (min-width: 1024px) {
    body{
        font-size: 1em;
    }
  }

