@import './utils.css';
@import './components/hero.css';
@import './components/services.css';
@import './components/about.css';
@import './components/methodology.css';
@import './components/projects.css';
@import './components/contact.css';
@import './components/footer.css';
@import './components/animaciones.css';
body{
    background: var(--white-color);
    font-size: 1em;
    font-family: var(--dosis-font);
    margin: 0;
}
section{
    margin-bottom: var(--spacing_large);
}
@media (min-width: 600px) {
    body{
        font-size: 1.5em;
    }
  }

@media (min-width: 1024px) {
    body{
        font-size: 1em;
    }
  }