@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
:root{
    --dosis-font: 'Dosis', system-ui; 
    --montserrat-font: 'Montserrat', system-ui; 
    /* Colors */
    --red_btn: #d54130; 
    --red_icon: #aa3d30ff;
    --white-color: #ffffff;
    --black-color: #2f2f2f;
    --gray-color:#535353;
    --gray-light:#fafafa;
    /*Spacing*/
    --spacing_small: 5px;
    --spacing_medium: 15px;
    --spacing_large: 25px;
    /* --margin */
    /* 3a1b42d7 */


}


